body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-titles {
  padding-bottom: 5%;
}

.logo {
  padding: 8px;
}

.prelike {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  word-break: break-all;
  word-wrap: break-word;
}
tr.os td {
  vertical-align: bottom;
}
tr.inst td {
  vertical-align: top;
}

#news #news-list li{
  padding-bottom: 8px;
}